* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: green url("../images/macboook-pro-wallpaper-1024x576.jpg") no-repeat center/cover fixed;
}

.header {
  background-color: #1DC92E;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  position: fixed;
  width: 100vw;
  z-index: 5;
}
.header-menu-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30vw;
  height: 80px;
}
.header-item {
  list-style-type: none;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Mali", cursive;
  font-weight: 600;
  font-style: normal;
  color: #09731A;
}
.header-menu-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10vw;
  height: 35px;
  margin-right: 5vw;
}
.header .img-logo {
  width: 376px;
  height: 66px;
}
.header .a-logo {
  margin-right: 15vw;
}
.header .oder {
  margin: 20px;
}
@media screen and (max-width: 1080px) {
  .header .img-logo {
    width: 276px;
    height: 46px;
  }
  .header .a-logo {
    margin-right: 8vw;
  }
  .header-item {
    font-size: 11px;
  }
  .header-menu-right {
    width: 10vw;
  }
}

.footer {
  background-color: #1DC92E;
  height: 7vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Mali", cursive;
  font-weight: 500;
  font-style: normal;
  color: #09731A;
  font-size: 20px;
}
.footer-item {
  margin-bottom: 3px;
  margin-left: 20px;
  list-style-type: none;
}
.footer-menu {
  display: flex;
  justify-content: space-between;
  width: 70vw;
  height: 7vw;
}

@media screen and (max-width: 1080px) {
  .footer {
    font-size: 12px;
  }
}
a {
  text-decoration: none;
  color: #09731A;
}

a:hover {
  color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vw;
}
.container .form-container {
  display: flex;
}
.container .inputs {
  width: 750px;
  height: 450px;
  background-color: #09731A;
  opacity: 80%;
  color: white;
  font-family: "Mali", cursive;
  flex-wrap: wrap;
  z-index: 4;
}
.container .title-inputs-div {
  display: flex;
  justify-content: center;
}
.container .title-inputs {
  font-weight: 500;
  margin-top: 20px;
}
.container .registration-form {
  display: flex;
  flex-direction: column;
  height: 400px;
  flex-wrap: wrap;
}
.container .inputs-form {
  margin-bottom: 15px;
  margin-left: 20px;
}
.container label {
  font-weight: 500;
  font-size: 20px;
  display: block;
  margin-bottom: 5px;
}
.container .button {
  padding: 10px 20px;
  background-color: #1DC92E;
  color: white;
  border: none;
  cursor: pointer;
  width: 270px;
  height: 56px;
  margin-left: 50px;
  font-weight: 700;
  font-size: 26px;
  color: #09731A;
  margin-top: 220px;
}
.container .button:hover {
  background-color: white;
}
.container .konto {
  color: white;
  margin-left: 50px;
  font-size: 17px;
  margin-top: 20px;
  display: block;
  text-align: center;
}
.container .konto:hover {
  color: #1DC92E;
}
.container input {
  height: 50px;
  width: 370px;
}
@media screen and (max-width: 1080px) {
  .container .button {
    width: 170px;
    height: 46px;
    font-size: 16px;
    margin-top: 160px;
  }
  .container .konto {
    font-size: 12px;
  }
  .container input {
    width: 230px;
    height: 35px;
  }
  .container .inputs {
    width: 500px;
    height: 350px;
  }
  .container label {
    font-size: 12px;
  }
}